extends ../layout

block content
    section.admin__skills.clearfix
        .skills__blocks
            .skills__block
                h2 Frontend
                table
                    each item in data
                        tr
                            td.skills__title
                                label(for=item['name']) #{item['title']}
                            td.skills__input
                                input(type="number" id=item['name'] data-type=item['type']
                                value=(item['value'] ? item['value'].value : 0) max=100 min=0)
                                | %
                    tr
                        td
                            input(type="text" id="addSkillFrontInput" placeholder="Название скилла")
                        td
                            button#addSkillFront Добавить


    button.skills__btn#skillsBtn Сохранить